<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/style.css">
    <head>
        <title>Code 'n cool</title>
        <h1>Welcome!</h1>
    </head>
    <body>
        <form>
            <button formaction="/mentors">Mentors and schools page</button>
            <button formaction="/all-school">All school page</button>
            <button formaction="/mentors-by-country">Contacts page</button>
            <button formaction="/contacts">Contacts page v2.0</button>
            <button formaction="/applicants">Applicants page</button>
            <button formaction="/applicants-and-mentors">Applicants and mentors page</button>
            <button formaction="/index/freedom">You can choose who/what do you want to check</button>
        </form>
    </body>
</html>